.skills{
  background-color: #F4EBD0;
  color: #122620;
}

.portfolio{
  background-color: #d6ad60;
  color: #122620;
}

.contacts{
  background-color: #F4EBD0;
  color: #122620;
}

div{
  height: 500px;
}