.skills{
  background-color: #F4EBD0;
  color: #122620;
}

.portfolio{
  background-color: #d6ad60;
  color: #122620;
}

.contacts{
  background-color: #F4EBD0;
  color: #122620;
}

.skills,
.portfolio,
.contacts{
  height: 500px;
  border: 1px solid #122620;
}