.skills{
  background: linear-gradient(#F4EBD0, #FFDEB3, #FFDEB3, #e0977c);
  color: #122620;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.skills-name{
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.skills-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.skills-icon{
  width: 120px;
  height: 120px;
  margin-top: 10px;
  background-color: #122620;
  color: #F4EBD0;
  font-weight: 500;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-icon span{
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.complete span{
  background: linear-gradient(35deg, rgba(0, 128, 0, 0.836) 30%, rgba(6, 202, 228, 0.712));
}

.work-in-progress span{
  background: linear-gradient(35deg, red, #F9F871);
}

.skills-icon img{
  max-width: 100%;
  max-height: 100%;
}

.portfolio{
  background: linear-gradient(#D6AD60, #9C792E);
  color: #122620;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.portfolio p{
  font-weight: 700;
  font-size: 30px;
}

.projects-scroll{
  width: 85%;
  height: 75%;
  display: flex;
  gap: 12px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 0 10px 12px 0;
}
.project-container{
  border-radius: 20px;
  min-width: 250px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 6px 6px 5px #122620;
  background: rgba(255, 255, 255, 0.15);
}

.project-container img{
  object-fit: cover;
  width: 100%;
  max-width: 300px; 
  border-radius: 10px;
  border: 2px solid #122620;
}

.project-button{
  text-decoration: none;
  font-size: 20px;
  background: #122620;
  color: #F4EBD0;
  padding: 3px 10px;
  border-radius: 20px;
  border: 1px solid #F4EBD0;
  cursor: pointer;
}

#notes{
  font-size: 12px;
  margin: 0 5px;
}

.contacts{
  background: linear-gradient(#F4EBD0, #FFDEB3, #FFDEB3, #e0977c);
  color: #122620;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contacts-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
}

.contacts-title{
  font-size: 20px;
}

.contacts-container{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2px;
}

.contacts-container a{
  text-decoration: none;
  color: inherit;
}

.contact-button{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  font-weight: 500;
  margin-bottom: 5px;
  width: 220px;
  height: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 80%;
}

.contact-button img{
  height: 28px;
}

.instagram-button{
  background: linear-gradient(35deg, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

.github-button{
  background: linear-gradient(35deg, #fafafa, #6cc644, #4078c0);
}

.email-button{
  background: linear-gradient(35deg, #f2a60c 10%, #c71610);
}

.discord-button{
  background: linear-gradient(35deg, #7289da 15%, #ffffff, 	#99aab5, #2c2f33);
}

.skills,
.portfolio{
  height: 500px;
  border: 1px solid #122620;
}

@media screen and (min-width: 450px){
  .skills-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 700px) {
  .skills-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .skills-name{
    font-size: 35px;
  }

  .skills-icon{
    width: 165px;
    height: 165px;
    font-size: 20px;
  }

  .skills-icon span{
    width: 80px;
    height: 80px;
  }

  .contacts-container{
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}