.header{
  /*background-color: #B68D40;*/
  background: linear-gradient(#B68D40, #6F3B28);
  color: #F4EBD0;
  height: 500px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #122620;
}

.name{
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.header img{
  width: 215px;
  border-radius: 100%;
}

.about-me-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  margin: 0 10px;
  text-align: center;
}

@media screen and (min-width: 700px){
  .header{
    flex-direction: row;
    justify-content: center;
    height: 400px;
  }

  .name{
    font-size: 25px;
  }

  .about-me-info{
    font-size: 20px;
    text-align: start;
  }

  .header img{
    width: 240px;
  }
}