.nav{
  background-color: #122620;
  color: #F4EBD0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.nav li{
  list-style-type: none;
}

.nav-icon{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  height: 30px;
  font-size: clamp(11px, 2.5vw, 17px);
}

.nav-icon img{
  height: 18px;
}

.nav a{
  text-decoration: none;
  color: #F4EBD0;
}

@media screen and (min-width: 450px) {
  .nav-icon{
    flex-direction: row;
  }

  .nav-icon img{
    height: 25px;
    margin-right: 5px;
  }

  .nav-icon p{
    display: inline-block;
  }
}

@media screen and (min-width: 1025px){
  .nav{
    position: fixed;
    top: 90px;
    right: 0;
    left: auto;
    height: 230px;
    width: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px #f4ebd057;
  }

  .nav-icon{
    height: auto;
    transition: all 0.15s linear;
  }

  .nav-icon:hover{
    border-radius: 20px;
    padding:  6px 18px;
    background-color: #B68D40;
    font-weight: 500;
  }
}

@media screen and (min-width: 1440px){
  .nav{
    right: 20px;
    width: 180px;
  }
}